@page
@model Frontend.Pages.ListModelPersonas
@{
}

<div class="text-center center">
    <h1>Listado de personas</h1>
</div>

<br/>
<br/>
<br/>

<table class="table">
    <tr>
        <th>ID</th>
        <th>NOMBRE</th>
        <th>APELLIDOS</th>
        <th>DOCUMENTO</th>
        <th>FECHA NACIMIENTO</th>
    </tr>

<table class="table">
   @foreach (var persona in Model.Persona)
    {
       <tr>
           <td>@persona.Id</td>
           <td>@persona.Nombre</td>
           <td>@persona.Apellidos</td>
           <td>@persona.Documento</td>
           <td>@persona.FechaNacimiento</td>
       </tr> 
    }
</table>