@page
@model Frontend.Pages.ListModelPersonas
@{
}

<h1>Listado de personas</h1>


<table class="table">
   @foreach (var persona in Model.Persona)
    {
       <tr>
           <td>@persona.Id</td>
           <td>@persona.Nombre</td>
           <td>@persona.Apellidos</td>
           <td>@persona.Documento</td>
           <td>@persona.FechaNacimiento</td>
       </tr> 
    }
</table>