@page
@model Frontend.Pages.ListModelEmpleados
@{
}

<div class="text-center center">
    <h1>Listado de empleados</h1>
</div>

<br/>
<br/>
<br/>
<a class="btn btn-success" asp-page="./Crear" data-toggle="tooltip" data-placement="top" title="Crear Empleado">
    <i class="fas fa-paste fa-2x"></i>
</a>
<br>
<br>
<br>
<table class="table">
    <tr>
        <th>NOMBRE</th>
        <th>APELLIDOS</th>
        <th>DOCUMENTO</th>
        <th>CARGO</th>       
        <!--<th>EMPRESA</th> -->
        <th>DETALLE</th>
        <th>EDITAR</th>
        <th>ELIMINAR</th>
    </tr>


   @foreach (var empleados in Model.Empleados)
    {
       <tr>
           <td>@empleados.PersonaRef.Nombre</td>
           <td>@empleados.PersonaRef.Apellidos</td>
           <td>@empleados.PersonaRef.Documento</td>
           <td>@empleados.Cargo</td>           
           <!--<td>empleados.EmpresaRef.Nombre<td>-->

           <td><a class="btn btn-info" asp-page="./Detalles" asp-route-IdEmpleado="@empleados.Id">
                    <i class="fas fa-info-circle"></i>
                </a>
            </td>
            <td><a class="btn btn-warning" asp-page="./Actualizar" asp-route-IdEmpleado="@empleados.Id">
                    <i class="fas fa-edit"></i>
                </a>
            </td>
            <td><a class="btn btn-danger" asp-page="./Eliminar" asp-route-IdEmpleado="@empleados.Id">
                    <i class="fas fa-minus-circle"></i>
                </a>
            </td>
       </tr> 
    }
</table>
<br>
<br>
<a class="btn btn-primary" asp-page="./Index">
    <i class="fas fa-home"></i>
</a>
