@page
@model ListarDirectivos.ModelDirectivos
@{
}

<div class="text-center center">
    <h1>Listado de directivos</h1> 
</div>

<br/>
<br/>
<br/>
<a class="btn btn-success" asp-page="./Crear">
    <i class="fas fa-user-plus"></i>
</a>
<br>
<br>
<br>
<table class="table">
    <tr>
        <th>CARGO</th>        
        <th>CATEGORÍA</th>
        <th>DETALLE</th>
        <th>EDITAR</th>
        <th>ELIMINAR</th>
    </tr>
   @foreach (var directivo in Model.Directivos)
    {
       <tr>
        <td>@directivo.EmpleadoRef.Cargo</td>
        <td>@directivo.Categoria</td>

        <td><a class="btn btn-info" asp-page="./Buscar" asp-route-IdCliente="@directivo.Id">
            <i class="fas fa-info-circle"></i>
            </a>
        </td>
        <td><a class="btn btn-warning" asp-page="./Actualizar" asp-route-IdCliente="@directivo.Id">
            <i class="fas fa-edit"></i>
            </a>
        </td>
        <td><a class="btn btn-danger" asp-page="./Eliminar" asp-route-IdCliente="@directivo.Id">
            <i class="fas fa-minus-circle"></i>
            </a>
        </td>
       </tr> 
    }
</table>
<br>
<br>
<a class="btn btn-primary" asp-page="./Index">
    <i class="fas fa-home"></i>
</a>