@page
@model Frontend.ClientList.ListModelClientes
@{
    ViewData["Title"] = "Clientes";
}

<div class="text-center center">
    <h1>Listado de clientes</h1>
</div>

<br/>
<br/>
<br/>
<a class="btn btn-success" asp-page="./Crear">
    <i class="fas fa-user-plus"></i>
</a>
<br>
<br>
<br>
<table class="table">    
    <tr>        
        <th>NOMBRE</th>
        <th>APELLIDOS</th>
        <th>DOCUMENTO</th>
        <th>TELÉFONO</th>
        <th>DETALLE</th>
        <th>EDITAR</th>
        <th>ELIMINAR</th>
    </tr>

    @foreach (var cliente in Model.Clientes)
        {
        <tr>
            <td>@cliente.PerRef.Nombre</td>
            <td>@cliente.PerRef.Apellidos</td>
            <td>@cliente.PerRef.Documento</td>
            <td>@cliente.Telefono</td>

            <td><a class="btn btn-info" asp-page="./Buscar" asp-route-IdCliente="@cliente.Id">
                    <i class="fas fa-info-circle"></i>
                </a>
            </td>
            <td><a class="btn btn-warning" asp-page="./Actualizar" asp-route-IdCliente="@cliente.Id">
                    <i class="fas fa-edit"></i>
                </a>
            </td>
            <td><a class="btn btn-danger" asp-page="./Eliminar" asp-route-IdCliente="@cliente.Id">
                    <i class="fas fa-minus-circle"></i>
                </a>
            </td>
        </tr> 
        }
</table>
<br>
<br>
<a class="btn btn-primary" asp-page="./Index">
    <i class="fas fa-home"></i>
</a>
